.credentials {
    padding: 0 20px;
    margin-top: 50px;
}

.error {
    background-color: var(--danger-1);
    color: var(--danger-2);
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    font-size: 17px;
}

.credentials form {
    margin-bottom: 30px;
} 


.credentials button {
    background-color: #1d90f5;
    color: var(--font-1);
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;
}

.credentials button:hover, .button:focus {
    background-color: var(--background-1);
    border: 1px solid #1d90f5;
    color: #1d90f5;
}